<%#
 Create by Rene Galow rensky.g@googlemail.com
-%>

<%+header%>
<%
local uci = require "luci.model.uci".cursor()
local tpl = require "luci.template"
local fs = require "nixio.fs"

        defaulttext = '<h2><a id="content" name="content">'..
        'Beschuetzerbox.de'..
        '</a></h2><p>'..
        'Um Ihren WLAN Namen und WLAN Passwort zu &auml;ndern, klicken Sie oben auf "Config/Wireless". '..
	'Daf&uuml;r ben&ouml;tigen Sie das Ger&auml;tepasswort, dass wir Ihnen zugesendet haben.'..
        '</p>'
%>

<%=defaulttext%>

<%+footer%>

