<%# 
 Create by Rene Galow rensky.g@googlemail.com
-%>

<%
local uci = require "luci.model.uci".cursor()
local tpl = require "luci.template"
local fs = require "nixio.fs"

local ww = {}
local ww = uci:get_all("wireless")


function find_setable (t)
  for key,value in pairs(t) do
    if not not value.setable then
      print (value.ssid);
    end
  end
end

%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
        var stxhr = new XHR();

        function update_status(field)
        {
                var opassword= field.opassword.value;
                var npassword = field.npassword.value;
                var rpassword = field.rpassword.value;

                var legend = document.getElementById('diag-rc-legend');
                var output = document.getElementById('diag-rc-output');
                var error = false;

                output.innerHTML = "";
                legend.parentNode.style.display = 'block';
                legend.style.display = 'inline';
                if (npassword == "")
                {
                        legend.style.display = 'none';
                        output.innerHTML += '<span class="error">Passwort darf nicht leergelassen werden.</span>';
                        error=true;
                }

                if (npassword != rpassword)
                {
                        legend.style.display = 'none';
                        output.innerHTML += '<span class="error">Das neue Passwort und das wiederholte Passwort stimmen nicht &uuml;berein.</span>';
                        error=true;
                }
	
		if (opassword == "")
		{
			legend.style.display = 'none';
                        output.innerHTML += '<span class="error">Ihr altes Passwort muss gesetzt werden.</span>';
                        error=true;
		}		
	
		if (legend && output && !error)
                {
                        output.innerHTML =
                                '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
                                '<%:Bitte warten...%>'
                        ;

                        legend.parentNode.style.display = 'block';
                        legend.style.display = 'inline';
			
                        stxhr.get('<%=luci.dispatcher.build_url("bebox", "config", "commit_password")%>/' + npassword + '/' + opassword , null,
                                function(x)
                                {
                                        if (x.responseText)
                                        {
                                                legend.style.display = 'none';
                                                output.innerHTML = '<span class="error">' + x.responseText + '</span>';
                                        }
                                        else
                                        {
                                                legend.style.display = 'none';
						output.innerHTML = '<span>Ihre Einstellungen wurden &uuml;bernommen.</span>';
                                        }
                                }
                        );
                }
        }


//]]></script>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
        <div class="cbi-map">
                <h2><a id="content" name="content">Change wireless settings</a></h2>

                <fieldset class="cbi-section" style="display:none">
                        <legend id="diag-rc-legend">Collecting data...</legend>
                        <span id="diag-rc-output"></span>
                </fieldset>

                <fieldset class="cbi-section">
                        <legend>Neues Passwort</legend>
			
			<div id="container.wireless.cfg033579.general" class="cbi-tabcontainer">
                        <div id="cbi-wireless-cfg073579-_wpa_key" class="cbi-value">
                                <label class="cbi-value-title" for="old_input">Aktuelles Passwort</label>
                                <div class="cbi-value-field">
                                        <input id="old_input" class="cbi-input-text" type="password" value="" name="opassword" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                Das Aktuelle Passwort zur Authentifizierung.
                                        </div>
                                </div>
                        </div>
                        <div id="cbi-wireless-cfg073579-_wpa_key" class="cbi-value cbi-value-last">
                                <label class="cbi-value-title" for="npassword_input">Neues Passwort</label>
                                <div class="cbi-value-field">
                                        <input id="npassword_input" type="password" value="" name="npassword" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                Neues Passwort welches gestezt werden soll.
                                        </div>
                                </div>
                        </div>
                        <div id="cbi-wireless-cfg073579-_wpa_key" class="cbi-value cbi-value-last">
                                <label class="cbi-value-title" for="rpassword_input">Wiederhole neus Passwort</label>
                                <div class="cbi-value-field">
                                        <input id="rpassword_input" type="password" value="" name="rpassword" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                Um sicher zu gehen das Sie das richtige Passwort eingebeben haben.
                                        </div>
                                </div>
                        </div>
                        </div>

               </fieldset>

        </div>
        <div class="cbi-page-actions">
        <input class="cbi-button cbi-button-save" type="button" value="&Uuml;bernehmen" class="cbi-button cbi-button-apply" onclick="update_status(this.form)" />
        </div>
</form>

<%+footer%>

