<%# 
 Create by Rene Galow rensky.g@googlemail.com
-%>

<%
local uci = require "luci.model.uci".cursor()
local tpl = require "luci.template"
local fs = require "nixio.fs"

local ww = {}
local ww = uci:get_all("wireless")


function find_setable (t)
  for key,value in pairs(t) do
    if not not value.setable then
      print (value.ssid);
    end
  end
end

%>

<%+header%>

<h2>Change wireless settings</h2>
<p><% find_setable(ww) %></p>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
        var stxhr = new XHR();

        function update_status(field)
        {
                var ssid = field.ssid;
                var key = field.key;
                var password = field.password;

                var legend = document.getElementById('diag-rc-legend');
                var output = document.getElementById('diag-rc-output');

                if (legend && output)
                {
                        output.innerHTML =
                                '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
                                '<%:Waiting for command to complete...%>'
                        ;

                        legend.parentNode.style.display = 'block';
                        legend.style.display = 'inline';

                        stxhr.get('<%=luci.dispatcher.build_url("bebox", "wireless", "commit_wireless")%>/' + ssid.value + '/' + key.value + '/' + password.value , nu
                                function(x)
                                {
                                        if (x.responseText)
                                        {
                                                legend.style.display = 'none';
                                                output.innerHTML = String.format('<pre>%h</pre>', x.responseText);
                                        }
                                        else
                                        {
                                                legend.style.display = 'none';
                                                output.innerHTML = '<span class="error"><%:Bad address specified!%></span>';
                                        }
                                }
                        );
                }
        }
//]]></script>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
        <div class="cbi-map">
                <h2><a id="content" name="content"><%:Diagnostics%></a></h2>

                <fieldset class="cbi-section">
                        <legend><%:Wireless Settings%></legend>

                        <br />

                        <div style="width:30%; float:left">
                                <label for="ssid_input">SSID</label>
                                <input id="ssid_input" style="margin: 5px 0" type="text" value="<% find_setable(ww) %>" name="ssid" /><br />
                                <label for"key_input">Key</label>
                                <input id="key_input" style="margin: 5px 0" type="password" value="" name="key" /><br />
                                <label for"password_input">Password</label>
                                <input id="password_input" style="margin: 5px 0" type="password" value="" name="password" /><br />
                                <input type="button" value="Submit" class="cbi-button cbi-button-apply" onclick="update_status(this.form)" />
                        </div>
                </fieldset>
        </div>

        <fieldset class="cbi-section" style="display:none">
                <legend id="diag-rc-legend"><%:Collecting data...%></legend>
                <span id="diag-rc-output"></span>
        </fieldset>
</form>

        <fieldset class="cbi-section" style="display:none">
                <legend id="diag-rc-legend"><%:Collecting data...%></legend>
                <span id="diag-rc-output"></span>
        </fieldset>
<%+footer%>

