<%# 
 Create by Rene Galow rensky.g@googlemail.com
-%>

<%
local uci = require "luci.model.uci".cursor()
local tpl = require "luci.template"
local fs = require "nixio.fs"

local ww = {}
local ww = uci:get_all("wireless")


function find_setable (t)
  for key,value in pairs(t) do
    if not not value.setable then
      print (value.ssid);
    end
  end
end

%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
        var stxhr = new XHR();

        function update_status(field)
        {
                var ssid = field.ssid.value;
                var key = field.key.value;
                var password = field.password.value;

                var legend = document.getElementById('diag-rc-legend');
                var output = document.getElementById('diag-rc-output');
                var error = false;

                output.innerHTML = "";
                legend.parentNode.style.display = 'block';
                legend.style.display = 'inline';
                if (ssid == "")
                {
                        legend.style.display = 'none';
                        output.innerHTML += '<span class="error">SSID darf nicht leer sein.</span>';
                        error=true;
                }

                if (key.length < 8 || key.length > 64 || key == "")
                {
                        legend.style.display = 'none';
                        output.innerHTML += '<span class="error">Der WLAN Schl&uuml;ssell&auml;nge muss zwischen 8 und 63 Zeichen lang sein, Wenn Sie den Schl&uuml;ssel leer lassen ist die Verschl&uuml;sselung ausgeschaltet.</span>';
                        error=true;
                }
		
		if (key == "")
		{
			key = "null"
		}
		
                if (password == "")
                {
                        legend.style.display = 'none';
                        output.innerHTML += '<span class="error">Das Passwort darf nicht leer sein.</span>';
                        error=true;
                }

		if (legend && output && !error)
                {
                        output.innerHTML =
                                '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
                                'Einstellungen werden &uuml;bernommen...'
                        ;

                        legend.parentNode.style.display = 'block';
                        legend.style.display = 'inline';
			
                        stxhr.get('<%=luci.dispatcher.build_url("bebox", "config", "commit_wireless")%>/' + ssid + '/' + key + '/' + password , null,
                                function(x)
                                {
                                        if (x.responseText)
                                        {
                                                legend.style.display = 'none';
                                                output.innerHTML = '<span class="error">' + x.responseText + '</span>';
                                        }
                                        else
                                        {
                                                legend.style.display = 'none';
						output.innerHTML = '<span>Die Einstellungen wurden erfolgreich &uuml;bernommen.</span>';
                                        }
                                }
                        );
                }
        }


//]]></script>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
        <div class="cbi-map">
                <h2><a id="content" name="content">Wireless Einstellungen</a></h2>

                <fieldset class="cbi-section" style="display:none">
                        <legend id="diag-rc-legend">Collecting data...</legend>
                        <span id="diag-rc-output"></span>
                </fieldset>

                <fieldset class="cbi-section">
                        <legend>Wireless Einstellungen</legend>
			
			<div id="container.wireless.cfg033579.general" class="cbi-tabcontainer">
                        <div id="cbi-wireless-cfg033579-ssid" class="cbi-value">
                                <label class="cbi-value-title" for="ssid_input">SSID</label>
                                <div class="cbi-value-field">
                                        <input id="ssid_input" class="cbi-input-text" type="text" value="<% find_setable(ww) %>" name="ssid" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                Festlegen des WLAN Namen.
                                        </div>
                                </div>
                        </div>
                        <div id="cbi-wireless-cfg073579-_wpa_key" class="cbi-value cbi-value-last">
                                <label class="cbi-value-title" for="key_input">WLAN Schl&uuml;ssel</label>
                                <div class="cbi-value-field">
                                        <input id="key_input" type="password" value="" name="key" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                WPA2 WLAN Schl&uuml;ssell&auml;nge. 8 bis 63 Zeichen, keine Verschl&uuml;sselung der der Schl&uuml;ssel leer bleibt.
                                        </div>
                                </div>
                        </div>
                        <div id="cbi-wireless-cfg073579-_wpa_key" class="cbi-value cbi-value-last">
                                <label class="cbi-value-title" for="password_input">Passwort</label>
                                <div class="cbi-value-field">
                                        <input id="password_input" type="password" value="" name="password" />
                                        <div class="cbi-value-description">
                                                <span class="cbi-value-helpicon">
                                                        <img src="/luci-static/resources/cbi/help.gif" alt="Hilfe"/>
                                                </span>
                                                Passwort zur Authentifizierung.
                                        </div>
                                </div>
                        </div>
                        </div>

               </fieldset>

        </div>
        <div class="cbi-page-actions">
        <input class="cbi-button cbi-button-save" type="button" value="Submit" class="cbi-button cbi-button-apply" onclick="update_status(this.form)" />
        </div>
</form>

<%+footer%>

